@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: row;

    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: var(--darkgray);
}


:root {
    --verde: #6cc349;
    --offWhite: #FED985;
    --marrom: #F09E71;
    --azul: #61B5CB;
    --verdeOpaco: #93B592;
    --rosa: #D5A0C4;
    --cinzaEscuro: #080808;

    --darkgray: #171615;
}

/* Menu lateral */
.menuLateral {
    width: 20%;
    height: 100%;
    background-color: #333;

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Conteudo da Dashboard */
.conteudoDashboard {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

/* Indicadores */
#box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 20px;

    height: 20%;

}

.indicadores {
    width: 450px;
    height: 170px;
    background-color: #222;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user_pontuacao,
#user_qtdTentativas,
#user_mediaAcertos {
    font-size: 60px;
    color: var(--verde);
}

.tituloIndicadores {
    font-size: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
}

#graficoRank {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graficoRank p {
    font-size: 25px;
}

#user_rank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* Gráficos */
#box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}


#divGraficos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.graficos {
    background-color: #222;
    height: 670px;
}

#graficoRank {
    width: 29%;
}
#graficoLinha {
    width: 61.5%;
    background-color: var(--darkgray);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
}
#graficos1,
#graficos2 {
    width: 100%;
    height: 49%;
    background-color: #222;
}

canvas {
    height: 700px;
}










/* Estilização do Painel Lateral */
#textoPainel {
    width: 100%;
    
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 35px;
    border-bottom: 2px solid #222;
}

.botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-size: 35px;
    height: 100px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #222;
}   

.botao:hover {
    background-color: #444;
}