@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    font-family: 'Poppins', serif;
    display: flex;

    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

:root {
    --verde: #47761E;
    --offWhite: #FED985;
    --marrom: #F09E71;
    --azul: #61B5CB;
    --verdeOpaco: #93B592;
    --rosa: #D5A0C4;
    --cinzaEscuro: #080808;
}

#divContainerLogin {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;

}

#divContainerCadastreSe {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.hidden {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    transition: opacity 0.5s ease, transform 0.5s ease;
}



/* Banner */
.divBannerLogin {
    background-image: url(../assets/BannerLogin.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 70%;
}

.divBannerLogin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}


.divBannerCadastro {
    background-image: url(../assets/TelaDeCarregamento.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 70%;
}

.divBannerCadastro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
}




/* Box Login */
.divBoxLogin {
    width: 30%;
    height: 100%;
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}

.divBoxCadastro {
    width: 30%;
    height: 100%;
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 150px;
}



/* Input */
input {
    position: absolute;
    width: 300px;
    font-size: 17px;
    outline: none;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 50px;
    border: 2px solid #888;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

.divCampo {
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 50px;
}


.textoInput-senha,
.textoInput-email,
.textoInput-confirmacaoSenha {
    position: absolute;
    width: fit-content;
    right: 60px;
    white-space: nowrap;
    font-size: 17px;
    font-weight: bold;
    color: #888;
    line-height: 80px;
    background-color: #000;
    border-radius: 20px;
    transition: 0.2s ease;
}

.textoInput-email {
    position: absolute;
    right: 65px;
}

.textoInput-confirmacaoSenha {
    position: absolute;
    left: -140px;
}

/* Ao clicar, as bordas dos input's ficarão amarelas */
input:focus,
input:valid {
    color: white;
    font-size: 20px;
    border: 2px solid var(--verde);
}

/* Ao inserir um texto valido, a borda permanece amarela */
input:focus+.textoInput-email,
input:focus+.textoInput-senha,
input:valid+.textoInput-email,
input:valid+.textoInput-senha {
    color: var(--verde);
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(0, -16px) scale(0.88);
    z-index: 1111;
}

input:focus+.textoInput-confirmacaoSenha,
input:valid+.textoInput-confirmacaoSenha {
    color: var(--verde);
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-35px, -16px) scale(0.88);
    z-index: 1111;
}


/* Espaçamento do icone pro texto da input */
i {
    padding-right: 10px;
}

/* Botão para relevar senha */
#i_buttonEyeSenhaLogin,
#i_buttonEyeConfirmacaoSenha,
#i_buttonEyeSenhaCadastro {
    background-color: transparent;
    color: #888;
    position: absolute;
    left: 120px;
    font-size: 20px;
    border: transparent;
    line-height: 80px;
    z-index: 2222;
}

#iconeEyes {
    height: 30px;
}

/* Botão de `Entrar` */
#botaoLogin,
#botaoCadastrar {
    margin-top: 10px;
    width: 200px;
    height: 60px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
    background-color: var(--verde);
    border: 2px solid #888;
    transition: 0.5s ease;
}

#botaoLogin:active,
#botaoCadastrar:active {
    transform: scale(0.80);
    background-color: var(--verdeOpaco);
}



/* Botão cadastre-se */
.botaoCadastreSe,
.botaoFacaLogin {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

#iconeCadastreSe i,
#iconeFacaLogin i {
    padding: 0;
    color: #fff;
    font-size: 18px;
}

#iconeCadastreSe,
#iconeFacaLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #888;
    transition: 0.5s;
}

#iconeCadastreSe:hover,
#iconeFacaLogin:hover {
    background-color: var(--verde);
    animation: pulse 2s infinite;
}