.droptarget {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    border: 2px solid black;
}


#line1,
#line2,
#line3 {
    display: flex;
    flex-direction: row;
    margin-left: 27px;
}
#line1 {
    margin-top: 27px;
}

.item {
    width: 65px;
    height: 65px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
}

.graveto {
    background-image: url(../assets/Items/280.png);
}
.diamante {
    background-image: url(../assets/Items/264.png);
    margin-left: -7px;
}

/* Diamante: 264.png */
/*  */

#imagemCraftingTable {
    width: 500px;
    height: 300px;
    background-image: url(../assets/CraftingTable.webp);
    background-size:contain;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}