@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;

    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: var(--darkgray);
}

:root {
    --verde: #47761E;
    --offWhite: #FED985;
    --marrom: #F09E71;
    --azul: #61B5CB;
    --verdeOpaco: #93B592;
    --rosa: #D5A0C4;
    --cinzaEscuro: #080808;

    --darkgray: #171615;
}



/* Navbar interativa */
.alinks {
    color: #fff;
    text-decoration: none;
    transition: 0.3;
}

.alinks:hover {
    opacity: 0.7;
}

.imgLogo {
    padding-top: 15px;
    width: 200px;
}


.cabecalho {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2222;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(38, 36, 35, 0.97);
    border-bottom: 4px solid rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 9vh;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-list {
    margin: 0;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}


/* Botão interativo */
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 3000px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 9vh;
        right: 0;
        width: 20%;
        height: 92vh;
        background: rgba(38, 36, 35, 0.97);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    width: 20%;
    margin: 0;
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}





/* Estrutura do Site */

/* Banner */
#divBanner {
    background-image: url(../assets/BannerMinecraft4k.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    z-index: 2;
}

/* Container que abriga o site */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.divBox1 {
    margin-top: 500px;
    margin-right: 800px;
    width: 30%;
    height: fit-content;
    background-color: var(--darkgray);
    border-top: 4px solid #444;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#tituloCard {
    padding-top: 20px;
    font-size: 50px;
}

.divBox1 p {
    padding: 20px;
    font-size: 25px;
}



/* Escopo da página */

.divBox2 {
    width: 100%;
    background-color: var(--darkgray);
    border-top: 4px solid #444;
    padding-top: 50px;
    text-align: center;
}

.titulos {
    align-self: center;
    font-size: 60px;
    padding: 0;
}

#containerIntroducao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#divBoxIntroducao1 {
    background-color: #222;
    width: fit-content;
    border: 7px solid #222;
    border-top: 12px solid #222;

    height: fit-content;
    text-align: start;
}


#divBoxIntroducao1 a {
    padding-left: 50px;
    font-size: 25px;
    color: #999;
}

#divBoxIntroducao2 {
    width: 40%;
    height: 423px;
    font-size: 25px;
}

#divBoxIntroducao2 p {
    padding-left: 150px;
    padding-right: 150px;
    font-size: 30px;
    padding-top: 0;
    margin-top: 0;
}






/* Escopo de Jogos */

.divBox3 {
    width: 100%;
    height: fit-content;
    background-color: var(--darkgray);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.boxDungeons,
.boxLegends,
.boxBedrock {
    height: 700px;
    width: fit-content;
    background-color: #222;
    border: 7px solid #222;
    transition: 0.8s ease;
    display: flex;
    flex-direction: column;
}


.boxDungeons:hover,
.boxLegends:hover,
.boxBedrock:hover {
    border: 7px solid #444;
    cursor: pointer;

}

#divMinecraftDungeons {
    background-image: url(../assets/BannerMinecraftDungeons.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 600px;
    background-color: #222;
}

#divMinecraftBedrock {
    background-image: url(../assets/BannerMinecraftBedrock.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 600px;
    background-color: #222;
}

#divMinecraftLegends {
    background-image: url(../assets/BannerMinecraftLegends.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 600px;
    background-color: #222;
}


.titulosJogos {
    font-size: 40px;
    padding-top: 30px;
}

#boxMinecraftDungeons,
#boxMinecraftBedrock,
#boxMinecraftLegends {
    position: absolute;
    width: 90.5%;
    height: 500px;
    margin-top: 50px;
    background-color: #222;
    border-top: #444 4px solid;
}

#trianguloMinecraftDungeons {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #444;
    position: relative;
    z-index: 4442;
    right: 31.5%;
}

#trianguloMinecraftLegends {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #444;
    position: relative;
    z-index: 4442;
}

#trianguloMinecraftBedrock {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #444;
    position: relative;
    z-index: 2222;
    left: 31.5%;
}

#cardJogos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Classes para JavaScript */
.hidden {
    display: none;
}

.visible {
    display: flex;
}




/* Parte: Sobre o MineTech */

.margin {
    margin-top: 550px;
}

/* Footer */

#footer {
    background: #1a1a1a;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 150px;
    margin-top: 60px;
}