@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'Poppins', monospace;
    display: flex;

    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

:root {
    --verde: #6cc349;
    --offWhite: #FED985;
    --marrom: #F09E71;
    --azul: #61B5CB;
    --verdeOpaco: #93B592;
    --rosa: #D5A0C4;
    --cinzaEscuro: #080808;
}

#divContainerLogin {
    font-family: 'VT323', monospace;

    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;

}

#divContainerCadastreSe {
    font-family: 'VT323', monospace;

    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.hidden {
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 1s ease, transform 0.7s ease;
}

.visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    transition: opacity 1s ease, transform 0.7s ease;
}



/* Banner */
.divBannerLogin {
    background-image: url(../assets/WallpaperLoginCadastro.jpeg);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.divBannerLogin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}


.divBannerCadastro {
    background-image: url(../assets/WallpaperLoginCadastro.jpeg);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.divBannerCadastro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}




/* Box Login */
.divBoxLogin {
    width: 35%;
    height: 100%;
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.divBoxCadastro {
    width: 35%;
    height: 100%;
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.divBoxLogin h1,
.divBoxCadastro h1 {
    font-weight: normal;
    font-size: 45px;
}

/* Input */
input {
    position: absolute;
    width: 300px;
    font-size: 17px;
    outline: none;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 50px;
    border: 2px solid #888;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

.divCampo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    margin-bottom: 50px;
}

/* Textos dos input´s de *Login* */
.textoInput-senha,
.textoInput-email {
    position: absolute;
    width: fit-content;
    right: 60px;
    white-space: nowrap;
    font-size: 27px;
    color: #888;
    line-height: 80px;
    background-color: #000;
    border-radius: 20px;
    transition: 0.2s ease;
}

/* Textos dos input´s de *Cadastro* */
.textoInput-nomeCad,
.textoInput-emailCad,
.textoInput-senhaCad,
.textoInput-confirmacaoSenha {
    position: absolute;
    width: fit-content;
    white-space: nowrap;
    font-size: 27px;
    color: #888;
    line-height: 80px;
    background-color: #000;
    border-radius: 20px;
    transition: 0.2s ease;
}

.textoInput-nomeCad {
    right: 240px;
}

.textoInput-emailCad {
    right: 230px;
}

.textoInput-senhaCad {
    right: 230px;
}
.textoInput-confirmacaoSenha {
    right: 80px;
}


/* Ao clicar, as bordas dos input's ficarão verdes */
input:focus,
input:valid {
    color: white;
    font-size: 20px;
    border: 2px solid var(--verde);
}

/* Ao inserir um texto valido, a borda permanece verdes */
input:focus+.textoInput-nomeCad,
input:focus+.textoInput-emailCad,
input:focus+.textoInput-senhaCad,

input:valid+.textoInput-nomeCad,
input:valid+.textoInput-emailCad,
input:valid+.textoInput-senhaCad,

input:focus+.textoInput-email,
input:focus+.textoInput-senha,

input:valid+.textoInput-email,
input:valid+.textoInput-senha {
    color: var(--verde);
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(0, -16px) scale(0.88);
    z-index: 1111;
}

input:focus+.textoInput-confirmacaoSenha,
input:valid+.textoInput-confirmacaoSenha {
    color: var(--verde);
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-10px, -16px) scale(0.88);
    z-index: 1111;
}


/* Texto de Requisitos de Senha */
#div_validarSenha {
    width: 350px;
    color: #888;
    font-size: 17px;
    margin-bottom: 20px;
    text-align: center;
}

/* Espaçamento do icone pro texto da input */
i {
    padding-right: 10px;
}

/* Botão para relevar senha */
#i_buttonEyeSenhaLogin,
#i_buttonEyeConfirmacaoSenha,
#i_buttonEyeSenhaCadastro {
    background-color: transparent;
    color: #888;
    position: absolute;
    left: 120px;
    font-size: 20px;
    border: transparent;
    line-height: 80px;
    z-index: 2222;
}

#i_buttonEyeConfirmacaoSenha,
#i_buttonEyeSenhaCadastro {
    left: 300px;
}

#iconeEyes {
    height: 30px;
}

/* Botão de `Entrar` */
#botaoLogin,
#botaoCadastrar {
    font-family: 'VT323', monospace;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    border-radius: 50px;
    background-color: var(--verde);
    border: 2px solid #888;
    transition: 0.5s ease;
}

#botaoLogin:active,
#botaoCadastrar:active {
    transform: scale(0.80);
    background-color: var(--verdeOpaco);
}



/* Botão cadastre-se */
.botaoCadastreSe,
.botaoFacaLogin {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 30px;
    align-items: center;
    font-size: 25px;
}

#iconeFacaLogin i {
    padding-right: 10px;
    color: #fff;
    font-size: 18px;
}

#iconeCadastreSe i {
    padding-left: 10px;
    padding-top: 2px;
    color: #fff;
    font-size: 18px;
}

#iconeCadastreSe,
#iconeFacaLogin {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    text-align: center;
    background-color: transparent;
    transition: 0.5s;
    text-decoration: underline;
}

#iconeCadastreSe:hover,
#iconeFacaLogin:hover {
    color: var(--verde);
}